.carouselImage,
.carouselImageLeft {
  height: 34vw;
  min-height: 300px;
  object-fit: cover;
}

.carouselImageLeft {
  object-position: 0% 50%;
}

.carouselButtons {
  font-size: 1.2em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 1em;
  padding-right: 1em;
  font-size:calc(10px + .5vw);
  border-color: lightblue;
}

.myCaption1,
.myCaption2,
.myCaption3 {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin: auto;
  font-family: Arial;
  text-align: left;
  background: rgb(197, 198, 199);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
  border-radius: 1rem;
  z-index: 2;
  backdrop-filter: blur(0.3rem);
}

.myCaption1 span {
  font-size: 1.3em;
}

.myCaption1 p,
.myCaption2 p,
.myCaption3 p {
  font-size:calc(10px + .5vw);
  color: rgb(9, 3, 80);
}

.myCaptionHighlightText {
  color: rgb(235, 220, 48);
  &:hover {
    color: rgb(9, 3, 80);
  }
}

.myCaption1 h1,
.myCaption2 h1,
.myCaption3 h1 {
  color: rgb(204, 17, 14);
  font-size:calc(12px + 1vw);
  font-weight:bolder;
}
.myCaption1 {
  width: 700px;
  min-width: 50%;
  max-width: 100%;
  margin-bottom: 10%;
  margin-top: 5%;
  float: right;
}

.myCaption2 {
  padding-bottom: 0.8vw;
  margin-bottom: 1vw;
  width: 700px;
  min-width: 40%;
  max-width: 100%;
  text-align: center;
}

.myCaption3 {
  padding-bottom: 0.8vw;
  margin-bottom: 1vw;
  width: 620px;
  min-width: 40%;
  max-width: 100%;
  float: left;
}
